
  <table class="mat-elevation-z2">

      <tr>
        <th> CPU Register </th>
        <th> Value </th>
      </tr>

      <tr>
          <td >A</td>
          <td >{{state.A}}</td>
      </tr>

      <tr>
          <td >Y</td>
          <td >{{state.Y}}</td>
      </tr>

      <tr>
          <td >X</td>
          <td >{{state.X}}</td>
      </tr>

      <tr>
          <td >S</td>
          <td >{{state.S}}</td>
      </tr>

      <tr>
          <td >P</td>
          <td >{{state.P}}</td>
      </tr>

      <tr>
          <td >PC</td>
          <td >{{state.PC}}</td>
      </tr>

      <tr>
          <td >SP</td>
          <td >{{state.SP}}</td>
      </tr>

      <tr>
          <td >Instruction Type</td>
          <td >{{state.InstructionType}}</td>
      </tr>
      <tr>
          <td >Instruction Name</td>
          <td >{{state.InstructionName}}</td>
      </tr>
  </table>
